header {
    margin-bottom: 15px;
}
.header-info {
    display: flex;
}
.header-info img {
    width: 50px;
    margin-right: 10px;
    filter: drop-shadow(-5px -3px 3px #aaa);
}
.header-info h1 {
    margin-right: 50px;
}
.btn-icon {
    display: flex !important;
    align-items: center;
}
.btn-icon span {
    margin-right: 10px;
}
h1 {
    text-align: center;
}
.btn-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.mb-title {
    text-align: center;
    margin-bottom: 10px;
}
.alert {
    transition: opacity 0.3s ease-in;
}
#alert-area {
    transition: all 0.4s ease;
}
